<div class="site-width mx-auto">
  <div
    class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
    id="description"
  >
    <h2>
      <strong>Enlighten the world with your best prose!</strong>
    </h2>
  </div>
  <div
    class="double-form border bs-border-color bg-opacity-10 rounded-1 shadow"
  >
    <form class="form add-post-form">
      <div class="form-group mb-2">
        <label for="add-post-title">Title:</label>
        <input class="form-input" type="text" id="add-post-title" />
      </div>
      <div class="mb-3 p-1">
        <label for="add-post-content" class="form-label"></label>
        <textarea
          class="form-control"
          placeholder="What's on your mind?"
          style="border-color: black"
          id="add-post-content"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group login-form-centered">
        <button
          class="btn btn-secondary"
          style="background-color: rgb(3, 22, 51)"
          type="submit"
          id="add-post-button"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</div>