      <div class="site-width mx-auto">
        <div class="author-name">
          <div
            class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 mt-3 shadow"
            id="author-name"
          >
            <h2><strong>AUTHOR NAME'S WRITINGS</strong></h2>
          </div>
        </div>
      
        <div
          class="container row p-0 m-0 mt-3"
          style="height: fit-content; width: 100%"
        >
            <div
            class="container album-review bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow mb-3 p-3 m-0"
            style="width: 100%; height: fit-content"
          >
            <div class="container row p-0 m-0">
              <div class="row col-12 p-0 m-0">
                <div class="col-9 p-0">
                  <h2 class="p-0 m-0 mb-3" id="post-title" style="text-align: left">
                    <strong>TITLE</strong>
                  </h2>
                </div>
                <div class="btn-group col-3 p-0 m-0" role="group" aria-label="edit-delete">
                  <button type="button" class="btn p-0" style="border-color: rgb(3, 22, 51); height: fit-content; width: fit-content" >edit</button>
                  <button type="button" class="btn p-0" style="border-color: rgb(3, 22, 51); height: fit-content; width: fit-content" >delete</button>
                </div>
              </div>
            </div>
            <div class="container p-0 m-0 border mb-3" style="height: fit-content">
              <h4 style="text-align: left" id="post-content">
                POST CONTENT BLAH BLAH BLAH
              </h4>
            </div>
            <div class="container row p-0 m-0" style="height: fit-content">
              <div class="col-6 p-0 m-0">
                <h4 class="p-0 m-0" style="text-align: left">AUTHORNAME</h4>
              </div>
              <div class="col-6 p-0 m-0">
                <h4 class="p-0 m-0" style="text-align: right">POST DATE</h4>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>