<div class="site-width mx-auto">
  <div class="welcome">
    <div
      class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 mt-3 shadow"
      id="welcome"
    >
      <h2><strong>POST TITLE</strong></h2>
    </div>
  </div>

  <div
    class="container row p-0 m-0 mt-3"
    style="height: fit-content; width: 100%"
  >
    <div
      class="container album-review bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow mb-3 p-3 m-0"
      style="width: 100%; height: fit-content"
    >
      <div class="container row p-0 m-0">
        <div class="container p-0 m-0 border mb-3" style="height: fit-content">
          <h4 style="text-align: left" id="post-content">
            POST CONTENT BLAH BLAH BLAH
          </h4>
        </div>
        <div class="container row p-0 m-0" style="height: fit-content">
          <div class="col-6 p-0 m-0">
            <h4 class="p-0 m-0" style="text-align: left">AUTHORNAME</h4>
          </div>
          <div class="col-6 p-0 m-0">
            <h4 class="p-0 m-0" style="text-align: right">POST DATE</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0 m-0" style="width: 100%; height: fit-content">
    <div
      class="container post-comment-username bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow mb-3 p-3 m-0"
      style="width: 100%; height: fit-content"
    >
      <div class="container row p-0 m-0"></div>
      <div class="container p-3 m-0 mb-3 border" style="height: fit-content">
        <h4 class="p-0 m-0" style="text-align: left" id="album-review">
          COMMENT COMMENT BLAH BLAH BLAH
        </h4>
      </div>
      <div class="container row p-0 m-0" style="height: fit-content">
        <div class="col-6 p-0 m-0">
          <h4 class="p-0 m-0" style="text-align: left">USERNAME</h4>
        </div>
        <div class="col-6 p-0 m-0">
          <h4 class="p-0 m-0" style="text-align: right">POST DATE</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0 m-0 mb-3">
    <div class="double-form bs-border-color bg-opacity-10 rounded-1 shadow">
      <h2 class="p-1">Leave a comment!</h2>
      <div class="col-12">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea
          class="form-control mb-3"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group login-form-centered">
        <button
          class="btn btn-secondary"
          style="background-color: rgb(3, 22, 51); color: white"
          type="submit"
          id="comment-button"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>